.adminPanel h1 {
  text-align: center;
  margin-bottom: 24px;
}

.productList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.productItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  background-color: #fff;
  padding: 16px 24px;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.06);
  transition: all 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);
  margin-bottom: 16px;

  &:hover {
    transform: translateY(-9px);
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.12);
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.productInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  gap: 16px;

  strong {
    font-size: 16px;
    font-weight: 600;
  }
}

.imageContainer {
  flex-shrink: 0;
}

.productImage {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.productImage:hover {
  transform: scale(1.4);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: flex-end;

  @media (max-width: 600px) {
    margin-top: 10px;
  }
}

.productContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productDetails {
  font-size: 16px;
  line-height: 1.4;
}

.productText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editBtn {
  background-color: #a1866f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #917660;
  }
}

.deleteBtn {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #c9302c;
  }
}

.editBtn,
.deleteBtn {
  min-width: 100px;
  padding: 10px;
  text-align: center;
}

.price {
  margin-top: 4px;
  font-weight: bold;
  color: #444;
}

.addBtn {
  background-color: #7f5539;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s;
  margin-left: 40px;

  &:hover {
    background-color: #9c6644;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.description {
  display: none;
  font-size: 14px;
  color: #666;
  margin-top: 8px;
  transition: max-height 0.9s ease, opacity 0s ease;
}

.productItem:hover .description {
  display: block;
}

.productsContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .productItem {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .actions {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
}
